<h1>Budget</h1>

<p>
  <strong>Name:</strong>
  <%= @budget.name %>
</p>

<p>
  <strong>Amount:</strong>
  <%= number_to_currency(@budget.amount) %>
</p>

<p>
  <strong>Start Date:</strong>
  <%= @budget.start_date %>
</p>

<p>
  <strong>End Date:</strong>
  <%= @budget.end_date %>
</p>

<%= link_to 'Edit', edit_budget_path(@budget) %> |
<%= link_to 'Back', budgets_path %>
