<%= form_with(model: savings_goal, local: true) do |form| %>
  <% if savings_goal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(savings_goal.errors.count, "error") %> prohibited this savings goal from being saved:</h2>

      <ul>
        <% savings_goal.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-6">
    <%= form.label :name, 'Nome', class:"block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
    <%= form.text_field :name, class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
  </div>

  <div class="mb-6">
    <%= form.label :target_amount, 'Valor Alvo', class:"block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
    <%= form.number_field :target_amount, step: 0.01, class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
  </div>

  <div class="mb-6">
    <%= form.label :current_amount, 'Valor Atual', class:"block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
    <%= form.number_field :current_amount, step: 0.01, class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
  </div>

  <div class="mb-6">
    <%= form.label :end_date, 'Data Final', class:"block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
    <%= form.date_select :end_date %>
  </div>

  <div class="actions">
    <%= form.submit 'Enviar', class: "text-gray-900 bg-gradient-to-r from-lime-200 via-lime-400 to-lime-500 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-lime-300 dark:focus:ring-lime-800 shadow-lg shadow-lime-500/50 dark:shadow-lg dark:shadow-lime-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2" %>
  </div>
<% end %>
