<h1>Savings Goal</h1>

<p>
  <strong>Name:</strong>
  <%= @savings_goal.name %>
</p>

<p>
  <strong>Target Amount:</strong>
  <%= number_to_currency(@savings_goal.target_amount) %>
</p>

<p>
  <strong>Current Amount:</strong>
  <%= number_to_currency(@savings_goal.current_amount) %>
</p>

<p>
  <strong>End Date:</strong>
  <%= @savings_goal.end_date %>
</p>

<%= link_to 'Edit', edit_savings_goal_path(@savings_goal) %> |
<%= link_to 'Back', savings_goals_path %>
